@import url("content.css");
@import url("swiper.css");

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1em;
}
html { height: 100%; }
body {margin: 0; min-height: 100%; background: #ffc548; font-size: 14px; font-family: 'Notosans'; line-height:1em; color: #33343d; }
img { max-width: 100%; vertical-align: middle; display: inline-block;}
html.w-mod-touch * {background-attachment: scroll !important;}
ul, li {list-style: none; padding: 0; margin: 0}
strong {font-weight: 500}
a { -webkit-tap-highlight-color:transparent; text-decoration: none}
section:after,
div:after,
ul:after,
main:after {
  display: block;
  content: '';
  clear: both;
}

@font-face {
  font-family: 'Notosans';
  src: url('../fonts/NotoSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Notosans';
  src: url('../fonts/NotoSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Notosans';
  src: url('../fonts/NotoSans-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Notosans';
  src: url('../fonts/NotoSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Notosans';
  src: url('../fonts/NotoSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

.fs48 {font-size: 48px!important;}
.fs50 {font-size: 50px!important;}
.fs52 {font-size: 52px!important;}
.fs60 {font-size: 60px!important;}
.fs82 {font-size: 82px!important;}

.w1120 {width: 1120px !important;}
.w1200 {width: 1200px !important;}
.w665 {width: 665px !important;}
.w540 {width: 540px !important;}
.w485 {width: 485px !important;}

.h545 {height: 545px !important;}
.h570 {height: 570px !important;}
.h600 {height: 600px !important;}

.mt_20 {margin-top: -20px !important;}
.mt0 {margin-top: 0px !important;}
.mt10 {margin-top: 10px !important;}
.mt20 {margin-top: 20px !important;}
.mt85 {margin-top: 85px !important;}

.mb0 {margin-bottom: 0px !important;}
.mb25 {margin-bottom: 25px !important;}
.mb30 {margin-bottom: 30px !important;}
.mb40 {margin-bottom: 40px !important;}
.mb50 {margin-bottom: 50px !important;}
.mb60 {margin-bottom: 60px !important;}
.mb80 {margin-bottom: 80px !important;}
.mb85 {margin-bottom: 85px !important;}
.mb160 {margin-bottom: 160px !important;}

.pt0 {padding-top:0 !important;}
.pb20 {padding-bottom: 20px !important;}
.pb30 {padding-bottom: 30px !important;}

.pt60 {padding-top: 60px !important;}
.pt90 {padding-top: 90px !important;}

.fc_t1 {color: #4a4f58 !important}
.fc_t2 {color: #363740 !important}

.fwm {font-weight: 500;}
.fwl {font-weight: 300;}
.fwb {font-weight: 700;}

.tac {text-align: center}
.fwb {font-weight: 700 !important;}
.btn_round1 {
  border-radius: 50px;
  display: inline-block;
  background: #ffc548;
  width: 244px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #33343d;
  font-size: 26px;
}
.btn_round1 .ic {
  display: inline-block;
  background: url("../images/next_icon_over.png") no-repeat 0 0;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  margin: 10px 0 0 10px;
  vertical-align: top;
}
.btn_round1:active {
  color: #fff;
  background: #363740;
}
.btn_round1:active .ic {
  background: url("../images/next_icon.png") no-repeat 0 0;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
}

.btn_round2 {
  margin-top: 70px;
  border-radius: 50px;
  display: inline-block;
  color: #fff;
  background: #4a4f58;
  width: 500px;
  height: 105px;
  line-height: 90px;
  text-align: center;
  border: 5px solid #363740;
  font-size: 50px;
}
.btn_round2:active {
  color: #363740;
  background: #fff;
}