.header {
    display: block;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    text-align: center;
    padding-top: 45px;
}
.header .btn_goback {
    display: block;
    width:84px;
    height: 84px;
    position: absolute;
    left: 40px;
    top:50px;
}
.header .btn_goback a {
    display: block;
    width:100%;
    height:100%;
    text-indent: -9999px;
    background: url("../images/back_icon.png")no-repeat 0 0;
}
.header .btn_goback a:active {
     background: url("../images/back_icon_active.png")no-repeat 0 0;
}
.header .btn_gohome {
    display: block;
    width:84px;
    height: 84px;
    position: absolute;
    right: 40px;
    top:50px;
}
.header .btn_gohome a {
    display: block;
    width:100%;
    height:100%;
    text-indent: -9999px;
    background: url("../images/home_icon.png")no-repeat 0 0;
}
.header .btn_gohome a:active {
    background: url("../images/home_icon_active.png")no-repeat 0 0;
}
section {
    width: 1280px;
    height: 800px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
}
.intro_mico {
    margin-top: 100px;
}
.intro_text {
    margin: 80px 0 0 0;
    text-align: center;
    color: #363740;
    font-size: 72px;
    line-height: 90px;
    font-weight: 500;
}
.sub_title {
    color: #fff;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
main {

}
.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}
.flex_both {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex_both div:first-child {
    margin-right: 10px;
}
.flex_both div:last-child {
    margin-left: 10px;
}

.button_main_01 {
    display: inline-block;
    border-radius: 10px;
    border: 5px solid #33343d;
    width: 542px;
    height: 357px;
    background:#fff url(../images/earth.png) no-repeat center 40px;
    padding-top: 270px;
    color: #363740;
    font-size: 60px;
    text-align: center;
    flex:1 1 auto;
}
.button_main_01:active {
    background:#33343d url(../images/earth-on.png) no-repeat center 40px;
    color: #ffc548;
}
.button_main_02 {
    margin-left: 35px;
    display: inline-block;
    border-radius: 10px;
    border: 5px solid #33343d;
    width: 542px;
    height: 357px;
    background:#fff url(../images/food.png) no-repeat center 40px;
    padding-top: 270px;
    color: #363740;
    font-size: 60px;
    text-align: center;
    flex:1 1 auto;
}
.button_main_02:active {
    background:#33343d url(../images/food-on.png) no-repeat center 40px;
    color: #ffc548;
}
.button_mode {
    display: inline-block;
    border-radius: 10px;
    border: 5px solid #33343d;
    width: 542px;
    height: 357px;
    background:#fff;
    padding-top: 55px;
    color: #363740;
    font-size: 80px;
    text-align: center;
    flex:1 1 auto;
}
.button_mode .mtxt1 {
    display: block;
    font-weight: 700;
    font-size: 100px;
}
.button_mode .mtxt2 {
    display: block;
    font-weight: 700;
    padding-top: 20px;
}
.button_mode:active {
    background:#33343d ;
    color: #ffc548;
}
.button_mode:last-child {
    margin-left: 35px;
}
.button_mode.on {
    background: #33343d;
    color: #fff;
}
.button_mode.on:active {
    background:#33343d ;
    color: #ffc548;
}
.round_box {
    background: #fff;
    border: 5px solid #363740;
    border-radius: 10px;
}
/* s: 추천소스 목록 화면 */
.reco_slist {
    display: flex;
    margin:30px 60px 0 60px;
}
.reco_slist li {
    width: 328px;
    margin-right: 45px;
    text-align: center;
}
.reco_slist li:last-child {
    margin-right: 0;
}
.reco_slist li .title {
    color: #4a4f58;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
.reco_slist li .pr_img {
    width: 324px;
    height: 240px;
    border: 1px solid #c0c0c0;
    padding-top: 20px;
    position: relative;
}
.reco_slist li .pr_img img {
    height: 90%;
}
.reco_slist li .pr_img .label {
    display: inline-block;
    width:62px;
    height: 78px;
    position: absolute;
    left: 0px;
    top:0px;
    z-index: 10;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    text-align: left;
}
.reco_slist li .pr_name {
    font-size: 35px;
    color: #4a4f58;
    font-weight: 700;
    padding-top: 25px;
    letter-spacing: -1px;
}
.reco_slist li .pr_name span {
    font-size: 32px;
    font-weight: 400;
    display: block;
    margin-top: 5px;
}
.reco_slist li .btn_area {
    display: block;
    margin-top: 25px;
}
.reco_slist li .reco_link {
    display: inline-block;
    position: relative;

}
.reco_slist li .reco_link:active .active_line {
    display: inline-block;
    border: 5px solid #ffc548;
    position: absolute;
    left: 0;
    top:0;
    width: 322px;
    height: 238px;
}
.reco_slist li .reco_link:active .pr_name {
    color: #d79300;
}
    /* e: 추천소스 목록 화면 */

/* s:guide */
.guide_text1 {
    color: #fff;
    font-size: 80px;
    font-weight: 700;
    text-align: center;
    width: 100%;
    padding-top: 140px;
}
.guide_text2 {
    color: #4a4f58;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    width: 100%;
    padding-top: 140px;
}
.btn_guide1 {
    display: inline-block;
    width: 336px;
    height: 81px;
    border: 5px solid #363740;
    background: #fff;
    color: #363740;
    text-align: left;
    padding-left: 100px;
    line-height: 70px;
    font-size: 36px;
    font-weight: 700;
    border-radius: 10px;
    margin-right: 18px;
    position: relative;
}

.btn_guide1:last-child {
    margin-right: 0;
}
.btn_guide1:active {
    background: #4a4f58;
    color: #ffc548;
}
.ic_flag {
    display: inline-block;
    width:68px;
    height: 44px;
    position: absolute;
    left: 10px;
    top:50%;
    margin-top: -22px;
}
.ic_flag.jsp {
    background: url("../images/flag-jp.jpg")no-repeat 0 0;
}
.ic_flag.etc {
    background: url("../images/flag-etc.jpg")no-repeat 0 0;
}
.ic_flag.total {
    background: url("../images/flag-total.jpg")no-repeat 0 0;
}
.guide_intro {
    margin-top: 35px;
    display: block;
    width: 1059px;
    height: 90px;
    line-height: 100px;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(255, 225, 143, 0.702);
}
.guide_intro span {
    color: #363740;
    font-size: 30px;
    margin-right: 60px;
}
.guide_intro span:last-child {
    margin-right: 0;
}
.Rounded_Rectangle_2 {
    background-color: rgb(74, 79, 88);
    position: absolute;
    left: 178px;
    top: 174px;
    width: 928px;
    height: 156px;
    z-index: 85;
}
.blbox_right {
    width: 961px;
    height: 156px;
    display: inline-block;
    background: url("../images/w_bl_right.png")no-repeat 0 0;
    color: #fff;
    font-weight: 700;
    font-size: 70px;
    text-align: center;
    line-height: 150px;
}
.blbox_left {
    width: 961px;
    height: 156px;
    display: inline-block;
    background: url("../images/w_bl_left.png")no-repeat 0 0;
    color: #fcb723;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    line-height: 150px;
}
.blbox_txt {
    color: #35393f;
    font-size: 50px;
    text-align: center;
    width: 100%;
    margin-top: 55px;
}
.blbox_txt .t_a {
    display: inline-block;
    width: 59px;
    height: 59px;
    line-height: 40px;
    border-radius: 50%;
    border: 5px solid #35393f;
    color: #35393f;
    background: #fff;
    margin-right: 15px;
}
.bl_thum {
    text-align: center;
    margin-top: 60px;
}
.bl_thum span {
    margin-left: 20px;
    display: inline-block;
    width: 347px;
    height: 112px;
    background: url("../images/w_bl_s.png")no-repeat 0 0;
    color: #fff;
    font-size: 28px;
    line-height: 90px;
}
.bl_thum span:first-child {
    margin-left: 0;
}
    /* e:guide */

/* s:soundwave */
.soundwave_wrap {
    width: 600px;
    height: 250px;
    margin: 0 auto;
    position: relative;

}

.soundwave {

    position: relative;
    width: 190px;
    height: 100px;
    margin-top: 65px;
}
.soundwave span {
    display: block;
    bottom: 50%;
    width: 22px;
    background: #9b59b6;
    position: absolute;
    border-radius:50px;
    animation: audio-wave 1.5s infinite ease-in-out;
}
.soundwave .sound_img {
    display: block;
    position: absolute;
    left: 200px;
    width: 162px;
    top:-50px;
    height: 230px;
}
.soundwave span:nth-child(2) {
    left: 35px;
    animation-delay: 0.2s;
}

.soundwave span:nth-child(3) {
    left: 75px;
    animation-delay: 0.4s;
}

.soundwave span:nth-child(4) {
    left: 111px;
    animation-delay: 0.6s;
}

.soundwave span:nth-child(5) {
     left: 150px;
     animation-delay: 0.8s;
 }
.soundwave span:nth-child(6) {
    left: 350px;
    animation-delay: 1s;
}
.soundwave span:nth-child(7) {
    left: 390px;
    animation-delay: 1.2s;
}
.soundwave span:nth-child(8) {
    left: 430px;
    animation-delay: 1.4s;
}
.soundwave span:nth-child(9) {
    left: 470px;
    animation-delay: 1.6s;
}
.soundwave span:nth-child(10) {
    left: 510px;
    animation-delay: 1.8s;

}
.soundwave span:nth-child(11) {
    left: 550px;
    animation-delay: 2s;

}
.soundwave span.stop {animation:none;}
@keyframes audio-wave {
    0% {height:28px;transform:translateY(14px);background:#fff; opacity: .2}
    20% {height:48px;transform:translateY(24px);background:#fff; opacity: .4}
    /*effect is to animate the height of each span from 5px to 30px*/
    /*translateY makes Y axis move down to give the effect that it is growing from the center*/
    30% {height:68px;transform:translateY(34px);background:#fff; opacity: .6}
    40% {height:98px;transform:translateY(49px);background:#fff; opacity:1}

    80% {height:48px;transform:translateY(24px);background:#fff;opacity: .4}
    100% {height:28px;transform:translateY(14px);background:#fff; opacity: .2}
}




.soundwave.stop span {
    display: inline-block;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: #fff;
    animation:none;
}


/* e:soundwave */

/* s:소스분류 */
.conb_list {
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
.conb_list li {
    flex-direction: row;
    align-content:flex-start;
    display: inline-block;
    margin: 0 20px 20px 0;
}
.conb_list li:nth-child(3n) {
    margin-right: 0;
}
.conb_list li a {
    position: relative;
    display: block;
    width: 360px;
    height: 225px;
    background: #fff;
    border: 5px solid #363740;
    border-radius: 10px;
    color: #363740;
    font-size: 36px;
    padding-top: 160px;
    text-align: center;
    font-weight: 700;
}
.conb_list li a .p_flag {
    display: inline-block;
    position: absolute;
    left: 7px;
    top:7px;
    z-index: 10;
    text-align: center;
}
.conb_list li a.p_img1 {
    background: #fff url("../images/item1.png")no-repeat center 33px;
}
.conb_list li a.p_img1:active {
    background: #363740 url("../images/item1-on.png")no-repeat center 33px;
    color: #fff;
}
.conb_list li a.p_img2 {
    background: #fff url("../images/item2.png")no-repeat center 33px;
}
.conb_list li a.p_img2:active {
    background: #363740 url("../images/item2-on.png")no-repeat center 33px;
    color: #fff;
}
.conb_list li a.p_img3 {
    background: #fff url("../images/item3.png")no-repeat center 33px;
}
.conb_list li a.p_img3:active {
    background: #363740 url("../images/item3-on.png")no-repeat center 33px;
    color: #fff;
}
.conb_list li a.p_img4 {
    background: #fff url("../images/item4.png")no-repeat center 68px;
}
.conb_list li a.p_img4:active {
    background: #363740 url("../images/item4-on.png")no-repeat center 68px;
    color: #fff;
}
.conb_list li a.p_img5 {
    background: #fff url("../images/item5.png")no-repeat center 33px;
}
.conb_list li a.p_img5:active {
    background: #363740 url("../images/item5-on.png")no-repeat center 33px;
    color: #fff;
}
.conb_list li a.p_img6 {
    background: #fff url("../images/item6.png")no-repeat center 50px;
}
.conb_list li a.p_img6:active {
    background: #363740 url("../images/item6-on.png")no-repeat center 50px;
    color: #fff;
}
/* e:소스분류 */
.mb_tit {
    color: #363740;
    text-align: center;
    font-weight: 300;
    width: 100%;
    font-size: 38px;
    padding: 45px 0 35px 0;
    line-height: 1.2em;
}

.dim_bg {
    position: absolute;
    left: 0;
    top:0;
    background: #000;
    opacity: .53;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.post_img {
   margin:40px 0 0 0;
    width: 400px;

}
.post_img .coverimg {

    height: 430px;
    text-align: center;
    margin: 0 auto;
}
.post_img .coverimg img {
    height: 100%;
    width: auto;
}
.post_img .tag {
    font-size: 26px;
    font-weight: 700;
    margin-top:5px;
    display: flex;
}
.post_img .tag span {
    padding-bottom: 5px;
    margin-left: 10px;
    border-bottom: 3px solid #ffc548;
}
.post_img .btn_loc {

    display: inline-block;
    border-radius: 50px;
    background:#ffc548 url("../images/next_icon_over.png") no-repeat 217px 13px ;
    background-size: 34px 34px;
    font-size: 30px;
    color: #33343d;
    width: 277px;
    height: 59px;
    padding: 15px 0 0 40px;
    font-weight: 500;
    margin:30px 0 0 70px;

}
.post_img .btn_loc:active {
    background:#33343d url("../images/next_icon.png") no-repeat 217px 13px ;
    background-size: 34px 34px;
    color: #fff;
}
.pr_info {
    margin-top: 30px;
    width: 740px;

}
.pr_info .title {
	height:151px;
    font-size: 52px;
	line-height:58px; /* 20180822 */
	letter-spacing:-2px; /* 20180822 */
    font-weight: 700;
    padding-bottom: 35px;
    overflow: hidden;
    width: 690px;

}
.pr_info .i_txt {
    font-size: 34px;
    font-weight: 300;
    line-height: 34px;
    height: 38px;
    overflow: hidden;
    width: 690px;

}
.pr_info .i_txt span {
    color: #ffc548;
}
.pr_info .p_txt {
    margin-top: 30px;
    font-size: 40px;
    color: #33343d;
    /*font-weight: 700; 20180822*/
    line-height: 48px;/*20180822*/
    letter-spacing: -2px;
    overflow: hidden;
    height: 96px;
    width: 690px;

}
.mgtb {
	margin:57px 0 56px !important;
}
.pr_info .tag_txt {
    color: #5091e9;/* 20180822 색상변경 */
    font-size: 26px;
    font-weight: 700;
    margin: 4px 0 30px 0;
    overflow: hidden;
    height: 60px;
}
.pr_info .tag_txt span {
	font-size:28px;/* 20180822 */
	border-bottom:1px solid #5091e9; /* 20180822 */
	line-height:39px;/* 20180822 */
    margin-right: 10px;
}
.pr_info .tip_txt {
	color:#33343d;
    font-size: 28px;
	line-height:32px;
    letter-spacing: -1px;
    margin-top: 35px;
    overflow: hidden;
    height: 87px;/* 20180822 */
    width: 690px;

}
.pr_info .tip_txt span {
    display: inline-block;
    border-radius: 50px;
    background: #ffc548;
    width: 80px;/* 20180822 */
    height: 37px;/* 20180822 */
    padding-top: 0;
    text-align: center;
    font-weight: 700;
    font-size: 26px;
	line-height:37px;
}
.pr_info .tip_txt .tip_cont {
	margin-top:10px;/* 20180822 */
}

.pr_info .loc_txt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
}
.pr_info .loc_txt .ic_loc {
    flex:1 1 auto;
    background: url("../images/ico_loc.png")no-repeat 0 0;
    padding:5px 0 10px 35px;
    color: #fcb040;
    font-size: 28px;
    font-weight: 700;
}
.pr_info .loc_txt .btn_loc {
    margin-left: 5px;
    display: inline-block;
    border-radius: 50px;
    background:#fcb040 url("../images/next_icon_over.png") no-repeat 280px 10px ;
    background-size: 30px 30px;
    font-size: 26px;
    color: #33343d;
    width: 324px;
    height: 50px;
    padding: 10px 0 0 25px;
    font-weight: 500;
}
.pr_info .loc_txt .btn_loc:active {
    background:#33343d url("../images/next_icon.png") no-repeat 280px 10px ;
    background-size: 30px 30px;
    color: #fff;
}

.btn_popclose {
    display: block;
    width:65px;
    height: 65px;
    background: url("../images/btn_close.png")no-repeat 0 0;
    text-indent: -9999px;
    position: absolute;
    right: 25px;
    top:25px;
}
.btn_popclose:active {
    background: url("../images/btn_close2.png")no-repeat 0 0;
}
.popup_title {
    display: block;
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 50px;
    font-weight:300;
}
.food_zone {
    width: 1140px;
    height: 484px;
    background: url("../images/bg_zone3.png")no-repeat 0 0;
    margin:15px auto 0 auto;
    display: flex;

}
.food_zone .fz_col {
    width: 203px;
    margin-top: 5px;
}
.food_zone .fz_col .fz_tit {
    color: #4b4f5a;
    font-size: 27px;
    font-weight: 700;
    text-align: center;
    margin-top: 12px;
}
.food_zone .fz_col .fz_tit2 {
    color: #4b4f5a;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 13px;
}
.food_zone .fz_col ul.khan6,
.food_zone .fz_col ul.khan7 {
    height: 386px;
   
}


.food_zone .fz_col ul.khan6 li .nowzone  {
    display: inline-block;
    background: #ffc548;
    width: 100%;
    height: 58px;
    line-height: 58px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    visibility:hidden;
    position: relative;
}
.food_zone .fz_col ul.khan6 li .nowzone span {
    position: absolute;
    left: 0;
    top:0;
    display: block;
    width: 100%;
    text-align: center;
    height: 58px;
    line-height: 58px;
}

.food_zone .fz_col ul.khan7 li .nowzone  {
    display: inline-block;
    background: #ffc548;
    width: 100%;
    height: 52px;
    line-height: 52px;
    color: #33343d;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-top: -2px;
    visibility:hidden;
    position: relative;
}

.food_zone .fz_col ul.khan7 li .nowzone span {
    display: inline-block;
    position: absolute;
    left: 0;
    top:0;
    display: block;
    width: 100%;
    text-align: center;
    height: 52px;
    line-height: 52px;
}

.food_zone .fz_col ul.khan6 li .nowzone.on,
.food_zone .fz_col ul.khan7 li .nowzone.on{
    visibility: visible;
}

.food_zone .fz_col .fz_link {
    text-align: center;
    margin-top: -1px;

}
.food_zone .fz_col .fz_link a {
	display:block;
	
	height: 34px;
    line-height: 34px;
    color: #33343d;
    font-size: 24px;
	border-radius:17px;
    font-weight: 700;
}
.food_zone .fz_col .fz_link a .num {
    display: inline-block;
    width: 28px;
    height: 34px;
    line-height: 34px;
    border-radius: 50%;
    background: #fff;
    color: #ffc548;
    text-align: center;
    font-size: 24px;
    margin-right: 5px;
	
}

.food_zone .fz_col .fz_link a .rd_box {
    border-radius: 20px;
    display: inline-block;
    width: 61px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    background: #33343d;
    color: #fff;
}

.food_zone .fz_col .fz_link a.on .rd_box {
    background:#e10000;
}

/*.food_zone .fz_col .fz_link a.on {
	background:#33343d;
    color: #fff;
}*/



.food_zone .fz_col .fz_link a:active .num {
    background: #33343d;
}
.food_zone .fz_col ul li.nowzone span {
    background: url("../images/select_zone.png") repeat 0 0;
}

.food_zone .fz_col:nth-child(1) {
    margin-left:24px;
}
.food_zone .fz_col:nth-child(1) ul li {

}

.food_zone .fz_col:nth-child(2) {
    margin-left:14px;
}
.food_zone .fz_col:nth-child(3) {
    margin-left:11px;
}
.food_zone .fz_col:nth-child(4) {
    margin-left:50px;
}

/* 2018.08.16 수정 상품위치*/
.food_zone .fz_col ul li .nowzone {border:1px solid #b48e4b;}
.food_zone .fz_col ul li {margin-top:7px;}
.food_zone .fz_col:nth-child(1) {margin-top:12px;}
.food_zone .fz_col:nth-child(1) ul li:nth-child(2) {margin-top:6px;}
.food_zone .fz_col:nth-child(1) ul li:nth-child(3) {margin-top:6px;}
.food_zone .fz_col:nth-child(1) ul li:nth-child(4) {margin-top:6px;}
.food_zone .fz_col:nth-child(1) ul li:nth-child(5) {margin-top:5px;}
.food_zone .fz_col:nth-child(1) ul li:nth-child(6) {margin-top:5px;}
.food_zone .fz_col:nth-child(1) ul li:nth-child(3) .nowzone {height:59px;}
.food_zone .fz_col:nth-child(1) ul li:nth-child(4) .nowzone {height:59px;}
.food_zone .fz_col:nth-child(1) ul li:nth-child(5) .nowzone {height:60px;}
.food_zone .fz_col:nth-child(1) ul li:nth-child(6) .nowzone {height:60px;}

.food_zone .fz_col:nth-child(2) {margin-top:12px;}
.food_zone .fz_col:nth-child(2) ul li {height:51px; margin-top:6px;}
.food_zone .fz_col:nth-child(2) ul li:nth-child(1) {margin-top:8px}
.food_zone .fz_col:nth-child(2) ul li:nth-child(2) {margin-top:3px}
.food_zone .fz_col:nth-child(2) ul li:nth-child(3) {margin-top:6px}
.food_zone .fz_col:nth-child(2) ul li:nth-child(4) {margin-top:5px}
.food_zone .fz_col:nth-child(2) ul li:nth-child(6) {margin-top:5px}
.food_zone .fz_col:nth-child(2) ul li:nth-child(7) {margin-top:6px}
.food_zone .fz_col:nth-child(2) ul li .nowzone {height:51px; line-height:50px;}

.food_zone .fz_col:nth-child(3) {margin-top:12px;}
.food_zone .fz_col:nth-child(3) ul li {height:51px; margin-top:6px;}
.food_zone .fz_col:nth-child(3) ul li:nth-child(1) {margin-top:8px}
.food_zone .fz_col:nth-child(3) ul li:nth-child(2) {margin-top:3px}
.food_zone .fz_col:nth-child(3) ul li:nth-child(3) {margin-top:6px}
.food_zone .fz_col:nth-child(3) ul li:nth-child(4) {margin-top:5px}
.food_zone .fz_col:nth-child(3) ul li:nth-child(6) {margin-top:5px}
.food_zone .fz_col:nth-child(3) ul li:nth-child(7) {margin-top:6px}
.food_zone .fz_col:nth-child(3) ul li .nowzone {height:51px; line-height:50px;}

.food_zone .fz_col:nth-child(4) {margin-top:12px;}
.food_zone .fz_col:nth-child(4) ul li {height:51px; margin-top:6px;}
.food_zone .fz_col:nth-child(4) ul li:nth-child(1) {margin-top:8px}
.food_zone .fz_col:nth-child(4) ul li:nth-child(2) {margin-top:3px}
.food_zone .fz_col:nth-child(4) ul li:nth-child(3) {margin-top:6px}
.food_zone .fz_col:nth-child(4) ul li:nth-child(4) {margin-top:5px}
.food_zone .fz_col:nth-child(4) ul li:nth-child(6) {margin-top:5px}
.food_zone .fz_col:nth-child(4) ul li:nth-child(7) {margin-top:6px}
.food_zone .fz_col:nth-child(4) ul li .nowzone {height:51px; line-height:50px;}

.food_zone .fz_col:nth-child(5) {margin-left:9px; margin-top:12px;}
.food_zone .fz_col:nth-child(5) ul li:nth-child(2) {margin-top:6px;}
.food_zone .fz_col:nth-child(5) ul li:nth-child(3) {margin-top:6px;}
.food_zone .fz_col:nth-child(5) ul li:nth-child(4) {margin-top:6px;}
.food_zone .fz_col:nth-child(5) ul li:nth-child(5) {margin-top:5px;}
.food_zone .fz_col:nth-child(5) ul li:nth-child(6) {margin-top:5px;}
.food_zone .fz_col:nth-child(5) ul li:nth-child(3) .nowzone {height:59px;}
.food_zone .fz_col:nth-child(5) ul li:nth-child(4) .nowzone {height:59px;}
.food_zone .fz_col:nth-child(5) ul li:nth-child(5) .nowzone {height:60px;}
.food_zone .fz_col:nth-child(5) ul li:nth-child(6) .nowzone {height:60px;}
/* //2018.08.16 수정 상품위치*/

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
/* s:상품위치 */
.pr_box {
    width: 1198px;
    height: 523px;
    border: 3px solid #000;
    border-radius: 20px;
    background: #fff;

}

.btn_przone {
    display: inline-block;
    width: 384px;
    height: 50px;
    border-radius: 50px;
    background: #33343d url("../images/next_yicon.png") no-repeat 325px 10px;
    font-size: 25px;
    color: #ffc548;
    text-align: left;
    padding-left: 25px;
    line-height: 50px;
    margin:0 0 17px 0;
}
.btn_przone:active {
    background: #fff url("../images/next_yicon_over.png") no-repeat 325px 10px;
    color: #33343d;
}
.btn_przone_end {
	display: inline-block;
    width: 284px;
    height: 50px;
    border-radius: 50px;
    background: #33343d url("../images/next_yicon.png") no-repeat 235px 10px;
    font-size: 25px;
    color: #ffc548;
    text-align: left;
    padding-left: 25px;
    line-height: 50px;
    margin:0 0 17px 0;   
}
.btn_przone_end:active {
    background: #fff url("../images/next_yicon_over.png") no-repeat 235px 10px;
    color: #33343d;
}

/* e:상품위치 */

/* .img_speak {
    position: absolute;
    top:120px;
    animation-name: move;
    animation-duration: 0.5s;
    animation-iteration-count: infinite; 2018.08.13 스피커이미지 교체
} */
/* @keyframes rule */
@keyframes move {
    /* keyframe */
    from {
        transform: scale(0.9, 0.9);
    }
    /* keyframe */
    to {
        transform: scale(1, 1;
    }
}


